/* src/index.css */
@import "tailwindcss";

@layer base {
  body {
    @apply bg-black text-white selection:bg-white selection:text-black;
    margin: 0;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
  }
}

@layer components {
  ::-webkit-scrollbar {
    width: 4px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-black;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-zinc-700 hover:bg-zinc-600;
  }
}